## Application Environment
#SetEnv ORE_ENV PRODUCTION

## If you want to use Pux Compiled Mux, Uncomment below
## See config/routes.pux.php for detail
#SetEnv ORE_USE_MUX 1

AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
